@import 'tailwindcss';
@plugin '@headlessui/tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --font-sans: 'Quicksand', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --color-bg: white;
  --color-fg: black;

  --primary-base: oklch(50% 0.4 260);

  --base-blue: #2400ff;
  --base-pink: #ec4c88;
  --base-purple: #6c3679;
  --base-red: #4c8fec;

  --color-notice-100: color-mix(in oklch, #4c8fec 10%, white 100%);
  --color-notice-200: color-mix(in oklch, #4c8fec 20%, white 100%);
  --color-notice-300: color-mix(in oklch, #4c8fec 30%, white 100%);
  --color-notice-400: color-mix(in oklch, #4c8fec 40%, white 100%);
  --color-notice-500: color-mix(in oklch, #4c8fec 50%, white 100%);
  --color-notice-600: color-mix(in oklch, #4c8fec 60%, white 100%);

  --color-primary-100: color-mix(in oklch, var(--base-purple) 10%, white 50%);
  --color-primary-200: color-mix(in oklch, var(--base-purple) 20%, white 50%);
  --color-primary-300: color-mix(in oklch, var(--base-purple) 30%, white 50%);
  --color-primary-400: color-mix(in oklch, var(--base-purple) 40%, white 50%);
  --color-primary-500: color-mix(in oklch, var(--base-purple) 50%, white 50%);
  --color-primary-600: color-mix(in oklch, var(--base-purple) 60%, white 50%);

  --shadow-xs: 1px 1px var(--tw-shadow-color);
  --shadow-sm: 2px 2px var(--tw-shadow-color);
  --shadow-md: 3px 3px var(--tw-shadow-color);
  --shadow-lg: 4px 4px var(--tw-shadow-color);

  --spacing-full-with-gap: calc(100% + 0.25rem);
}

@layer base {
  a {
    @apply underline;
  }

  :focus,
  :focus-visible {
    @apply outline-hidden;
  }

  :focus-visible {
    @apply focus-visible:ring-1 focus-visible:ring-offset-1 focus-visible:ring-gray-500;
  }
}

@layer components {
  .button,
  .button-shape {
    @apply bg-white border cursor-default rounded;
    @apply gap-2 inline-flex items-center px-2 py-1;
    @apply transition-all transition-discrete;
  }

  .button-black {
    @apply border-black shadow-black;

    &.interactive {
      @apply hover:bg-black/10;
    }
  }

  .button-blue {
    @apply border-primary-500 shadow-primary-500;

    &.interactive {
      @apply hover:bg-primary-100;
    }
  }

  .button-notice {
    @apply border-notice-500 shadow-notice-500;

    &.interactive {
      @apply hover:bg-notice-100;
    }
  }

  .button-zinc {
    @apply border-zinc-500 shadow-zinc-500;

    &.interactive {
      @apply hover:bg-zinc-100;
    }
  }

  .card,
  .card-shape {
    @apply border rounded;
  }

  .card-black {
    @apply border-black shadow-black;
  }

  .card-notice {
    @apply border-notice-500 shadow-notice-500;
  }

  .card-primary {
    @apply border-primary-500 shadow-primary-500;
  }

  .card-zinc {
    @apply border-zinc-500 shadow-zinc-500;
  }
}
