---
import Link from '../components/Link.astro'
import Survey from '../components/Survey.astro'
import DefaultLayout from '../layouts/Default.astro'
---

<DefaultLayout>
  <Survey />
  <p>We are building a hub to help you discover and connect with other developers in the Columbus, Ohio area. Join our <Link href="https://discord.gg/kS9CkfYKpN">Discord</Link> to stay in touch.</p>
</DefaultLayout>
